:root {
  background-color: #ffffff;
  color: #000000;
}

.dark-mode {
  background-color: #1e1c1c;
  color: #ffffff;
}

.app {
  background-color: var(--background-color);
  color: var(--color);
  transition: background-color 0.3s, color 0.3s;
}
.butt-dark-light-container {
  justify-content: center;
  align-items: center;
  display: flex;
}
.butt-dark-light {
  margin: 16px 12px;
  padding: 16px;
  border: none;
  border-radius: 6px;
  background-color: rgb(171, 171, 230);
  cursor: pointer;
}
